.btn {
    background-color: #52bad5;
    color: #11122b;
    font-size: 1.25em;
    padding: 10px 25px;
    border: 1px solid #52bad5;
    border-radius: 2px;
    outline: none;
    transition: all 0.3s;
}