/* Footer */
.footer {
    background-color: #11122b;
    color: #cbcbcb;
    font-family: "ofelia-display", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    margin-top: -4px;
  }
  
  .footer > .logo-footer img {
    width: 250px;
    height: 100%;
    /* filter: brightness(50%); */
    opacity: 0.5;
    margin-bottom: 50px;
    
  }
  
  .footer > .footer-phone-hours span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    letter-spacing: 2px;
    
  }
  
  .footer > .footer-phone-hours > .hours {
    font-size: 0.8em;
    color: #FFCA3D;
  }
  
  .footer > .links-wrapper {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer > .links-wrapper > .nav-link a {
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;
  }
  
  .footer > .links-wrapper > .nav-link a:hover {
    color: #52bad5;
  }
  
  .footer > .social-media-icons-wrapper {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 300px;
    display: flex;
    justify-content: space-around;
  }
  
  .footer > .social-media-icons-wrapper a {
    font-size: 1.5em;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;
  }
  
  .footer > .social-media-icons-wrapper a:hover {
    color: #52bad5;
  }