.navigation-wrapper > .left-column > .contact-hours-wrapper > .hours {
    font-family: "ofelia-display", sans-serif;
    color: #858585;
    font-size: 0.8em;
}
.navigation-wrapper > .right-column > .contact-icon a {
    color: #cbcbcb;
    transition: 0.5s;
}

.navigation-wrapper > .right-column > .contact-icon a:hover {
    color: #52bad5;
}
/* Right column styles */
/* Right column styles */
.navigation-wrapper > .right-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .right-column > .address-wrapper {
    font-family: 'ofelia-display', sans-serif;
    text-align: right;
}

.navigation-wrapper > .right-column > .contact-icon {
    margin-left: 15px;
    font-size: 2em;
}
.navigation-wrapper > .right-column > .address-wrapper a {
    color: #858585;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.5s;
}
.navigation-wrapper > .right-column > .address-wrapper a:hover {
    color: #52BAD5;
}
/* Common Nav Styles */
.links-wrapper > .nav-link {
    width: 70px;
    text-align: center;
}
.links-wrapper > .nav-link a {
    font-family: "macho", sans-serif;
    color: #CBCBCB;
    text-decoration: none;
    transition: 0.5s;
}
.links-wrapper > .nav-link a:hover {
    color: #52BAD5;
    letter-spacing: 2px;
}
.navigation-wrapper > .center-column > .banner-image {
    display: flex;
    justify-content: center;
}
.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;
}
.navigation-wrapper > .center-column > .banner-image {
    font-family: 'ofelia-display', sans-serif;
}
.links-wrapper > .nav-link a {
    font-family: 'macho', sans-serif;
    color:#CBCBCB;
}
.nav-link{
    font-family: 'macho', sans-serif;
    color:#cbcbcb;
}
.navigation-wrapper > .left-column > .icon {
    margin-right: 15px;
}

.navigation-wrapper > .left-column > .icon i {
    font-size: 2em;
}
.navigation-wrapper > .left-column > .contact-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.navigation-wrapper > .contact-hours-wrapper > .hours {
    font-family: 'macho', sans-serif;

}
.icon {
    margin-right: 15px;
}
.icon i {
    font-size: 2em;
}
.left-column {
    display: flex;
    align-items: center;
}
.left-column > .contact-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.contact-hours-wrapper > .phone {
    font-family: 'ofelia-display', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.contact-hours-wrapper > .hours {
    font-family: 'macho', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.address-wrapper {
    font-family: 'ofelia-display', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navigation-wrapper{
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
    /* Flexbox Container */
    display: flex;
    justify-content: space-between;                                                       
    align-items: center;
    padding: 60px 100px;                                                                                                                                                                                          
    /* padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 100px;
    padding-left: 100px;  */
}
